#BUTTONS_AREA a{
    text-align: center;
    display: block;
}

.down-button{
    background-color: #1967d2;
    color: #ffffff;
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 12px;
}

#MAIN_DIV{
    text-align: center;
}

.wp-links{
    color: #1967d2;
}
 
.wp-links:hover{
    color: #2e2e2e;
}

#WP_PLUGINS_LINK{
   text-decoration: underline;
   color: rgb(211, 211, 211);
   margin-bottom: 20px;
}

#WP_PLUGINS_LINK:hover{
    color: #636363;
}

#WP_PLUGIN_VISIT{
  position: relative;
  top: 20px;
  bottom: 20px;
}