body, html{
    background-color: #1e69cd;
    font: 400 16px/24px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin: 0;
    /* line-height: 24px; */

    text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#MAIN_DIV{
    min-height: 800px;
    height: 100%;
    background: rgb(30,105,205);
    background: linear-gradient(165deg, rgba(30,105,205,1) 70%, rgba(239,242,239,1) 30%);
    text-align: left;
}

#BASS_SIDEBAR {
  display: none;
}

#TOP_NAV{
  /* height: 50px; */
  background-color: #fff;
  color: #757575;
  overflow: hidden;
  padding: 10px 0;
}

#TOP_NAV *{
  float: left;
}

#WIDE_MENU{
  float: right;
}

a{
  text-decoration: none;
}

#WIDE_MENU a{
  color: #757575;;
  margin-right: 20px;
  font-weight: 600;
  margin-top: 7px;
}

#LANGS_SELECT{
  margin: 0;
  margin-right: 20px;
  max-width: 124px;
  border: 1px solid #d1d2d3;
  border-radius: 5px;
  color: #202124;
  cursor: pointer;
  height: 36px;
  line-height: 34px;
  min-width: 72px;
  outline: 0;
  overflow: hidden;
  padding: 0 25px 0 5px;
  text-overflow: ellipsis;
}

#SIDE_HEADER{
  font-size: 30px;
  position: absolute;
  left: 40px;
  top: -13px;
  color: #757575;
  font-weight: 600;
}

h1{
  margin: 0;
  margin-left: 10px;
  margin-top: 2px;
}

h2, h3{
   color: #fff; 
}

.banner{
   text-align: center;
   width: 100%;
   height: 80px;
   font-weight: 600;
}

.banner p{
  margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

.banner-dark{
    background-color: #202124;
    color: white;
}

#MAIN_H_TWO{
 margin-top: 100px;
 margin-left: 40px;
 font-size: 52px;
}

#MAIN_H_THREE{
  margin-left: 40px;
  font-size: 24px;
}

.sidebar {
  height: 100%;
  position: fixed;
  display: inline;
  z-index: 3000;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.2s;
}

.sidebar a {
  text-decoration: none;
  color: #666666;
  display: block;
}

.sidebar a:hover {
  color: #c5c5c5;
}

.sidebar .closebtn {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 40px;
}

.openbtn {
  float: left;
  font-size: 30px;
  cursor: pointer;
  color: #000;
  border: none;
  background-color:#fff;
}

.white-menu{
  float: left;
  background-color: #fff;
  height: 100%;
  width: 75%;
}

.light-cover{
  float: right;
  height: 100%;
  width: 25%;
  background-color: rgba(194, 194, 194, 0.541);
}

#SIDE_LINKS{
  top: 50px;
  text-align: left;
  position: relative;
}

#SIDE_LINKS a{
  width: 100%;
  font-size: 19px;
  color: rgb(17, 17, 17);
  font-weight: 600;
  margin-top: 10px;
  border-bottom: 1px solid #b5b6b9;
}

#SIDE_LINKS a:hover{
  background-color: #c7c7c7;
}

#SIDE_LINKS a span{
    margin-left: 10px;
}

#SIDE_LINKS a .arrow_span{
  float: right;
  margin-right: 10px;
}

.white-cards{
  background-color: #ffffff;
  color: #424242;
  width: 90%;
  min-height: 200px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  text-align: center;
  margin: auto;
  border-radius: 16px;
  padding-top: 25px;
  padding-bottom: 40px;
}

.white-cards .card-logo{
    width: 100px;
    height: 100px;
    border-radius: 16px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

footer{
  height: 400px;
  background-color: #ffffff;
}

footer div{
 margin: 20px;
 width: 180px;
 text-align: left;
 float: left;
}

footer h3{
  margin: 0;
  width: 100%;
  color: black;
}

footer li{
  list-style-type: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (maller font size) */
@media screen and (max-height: 600px) {
  .sidebar a {font-size: 18px;}
}

@media only screen and (min-width: 600px) {
  .openbtn , #BASS_SIDEBAR {
    display: none;
  }

  #WIDE_MENU {
    display: block;
  }

  #MAIN_DIV{
    background: rgb(30,105,205);
    background: linear-gradient(165deg, rgba(30,105,205,1) 70%, rgba(239,242,239,1) 30%);
  }
}

@media only screen and (max-width: 600px) {

  #MAIN_DIV{
    text-align: center;
  }

  #MAIN_H_TWO{
    margin-top: 75px;
    margin-left: 0;
    font-size: 30px;
   }
   
   #MAIN_H_THREE{
     margin-left: 0;
     font-size: 18px;
   }

  #WIDE_MENU {
    display: none;
  }

  #TOP_NAV{
    padding: 0;
  }

  h1{
    margin-top: 8px;
  }

}