body{
    direction: rtl;
    background-color: #7670C6;
    font-family: 'Roboto', Helvetica, sans-serif;
}

#MAIN_H_TWO{
    margin-top: 100px;
    margin-left: 80px;
    font-size: 52px;
}

#MAIN_H_THREE{
    margin-left: 80px;
    font-size: 24px;
}

#BUTTONS_AREA a{
    margin-left: 332px;
    text-align: left;
    display: block;
    font-size: 18px;
    margin-top: 50px;
    color: #fff;
}

.down-button{
    background-color: #1967d2;
    color: #ffffff;
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 12px;
}

#MAIN_DIV{
    direction: ltr; /* TODO change in He*/
    height: fit-content;
    padding-bottom: 80px;
    text-align: left;
    background: #7670C6;
    background: linear-gradient(165deg, #7670C6 70%, rgba(239,242,239,1) 30%);
}

.wp-links{
    color: #1967d2;
}
 
.wp-links:hover{
    color: #2e2e2e;
}

#WP_PLUGINS_LINK{
   text-decoration: underline;
   color: rgb(211, 211, 211);
   margin-bottom: 20px;
}

#WP_PLUGINS_LINK:hover{
    color: #636363;
}

#WP_PLUGIN_VISIT{
  position: relative;
  top: 20px;
  bottom: 20px;
}

#BG_IMG{
    background: url(./images/bg-img-wp.png);
    background-repeat: no-repeat;
    background-size: 900px 700px;
    background-position: -150px top;
}

.white-cards p{
    margin-bottom: 30px;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    #MAIN_H_TWO{
        margin-top: 35px;
        margin-left: unset;
        padding: 0px 0px 0px 20px;
        font-size: 30px;
    }
    
    #MAIN_H_THREE{
        margin-left: unset;
        padding: 0px 30% 0px 20px;
        font-size: 18px;
    }
    
    #BUTTONS_AREA a{
        text-align: center;
        display: block;
        margin-top: 50px;
        margin-bottom: 170px;
        margin-left: unset;
        color: #fff;
    }

    #BG_IMG{
        background: url(./images/bg-img-wp.png);
        background-repeat: no-repeat;
        background-size: 400px 300px;
        background-position: center 225px;
    }
    
}